{% extends 'base.html.twig' %}
{% block body %}
    {#<link rel="stylesheet" href="{{ asset('css/style.css') }}">#}
    <div class="container">

        {{ form_start(form, {'method': 'POST'}) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}
        {{ form_row(form.naam) }}
        {{ form_row(form.achternaam) }}
        {{ form_row(form.tussenvoegsel) }}
        {{ form_row(form.dateofbirth) }}

        <br>
        <button type="submit">Register!</button>
        {{ form_end(form) }}

    </div>
{% endblock %}